h1 {
    color: darkslategrey;
    text-align: center;
    width: 88%;
    text-decoration: underline;
}

#dataList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 0 20px;
}

.dataElement {
    border: 1px solid silver;
    width: 40%;
    height: 100%;
    margin: 20px;
    background-color: bisque;
}

.name, .email, .street, .suite, .city, .zipcode {
    text-align: center;
    margin-left: 10px;
}

.name, .email, .street {
    margin-top: 10px;
}

.attr {
    margin-right: -20%;
    float: left;
    font-weight: bold;
}

#deleteButton {
    color: red;
    width: 40%;
    margin: 10px 30% 10px 30%;
}